body {
}
        
        #Button2 {
            width: 112px;
        }

        #Button3 {
            width: 122px;
        }
        @media screen and (max-width: 480px) {
            /* rules defined inside here are only applied to browsers that support CSS media queries and the browser window is 480px or smaller */

            .map .div1 {
                position: relative;
                width: 500px;
                height: 400px;
                display:inline-block;
            }
        }
        @media screen and (max-width: 767px) {
            /* rules defined inside here are only applied to browsers that support CSS media queries and the browser window is 480px or smaller */

            .map .div1 {
                position: relative;
                width: 600px;
                height: 400px;
                display:inline-block;
            }
        }
        @media screen and (max-width: 1800px) {
            /* rules defined inside here are only applied to browsers that support CSS media queries and the browser window is 480px or smaller */

            .map .div1 {
                position: relative;
                width: 800px;
                height: 600px;
                display:inline-block;
            }
            .div2 {
                position: relative;
                width: 200px;
                height: auto;
                display:inline-block;
            }
        }
